<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet")
    body
        .wrapper
            header(class="header")
                img(class="header__logo" src="images/logo.png" alt="logo")
                span(class="header__text") смарт - 
                span(class="header__text_green") фінанс
            main(class="main")
                h1(class="main__h1") онлайн
                    span(class="main__h1_green") форма
                article(class="content")
                    form(class="form")
                        .formItem
                            h2(class="formItem__description") бажана сума кредиту
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") бажаний термін кредитування
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description") прізвище
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") ім'я
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description") по батькові
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") номер телефону
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description") електронна адреса
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") вік
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description") місце роботи (якщо підприємець вказати ФОП)
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") тривалість роботи на останньому місці
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description") загальний трудовий стаж
                            input(type="text" class="formItem__input")
                        .formItem
                            h2(class="formItem__description_green") розмір основного доходу
                            input(type="text" class="formItem__input")
                        .formItem(class='formItem_center')
                            h2(class="formItem__description") додатковий дохід
                            input(type="text" class="formItem__input")
                        button(class="form__button" type='submit') отримати кредит
                        p(class="formItem__text") Заповнюючи цю форму Ви надаєте згоду для ТОВ “СМАРТ ФІНАНС” на обробку, зберігання та використання ваших персональних данних.
            footer(class='footer')
                .footerInfo
                    p(class="footerInfo__copyright") All rights reserved &copy; 2019
                    p(class="footerInfo__schedule") графік роботи<br>пн - сб 10:00 - 17:00
                .social
                    img(class="social__img_facebook" src="images/social/facebook.png", alt="facebook")
                    img(class="social__img_viber" src="images/social/viber.png", alt="viber")
                    img(class="social__img_phone" src="images/social/kyivstarBlack.png", alt="phoneNumber")
                    p(class="social__number") 096-142-9501
